---
---

@import "{{ site.theme }}";

#main-content {
    width: 100%;

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}



header {
    h1 {
        font-size: 44px;
    }

    a.button {
        width: 280px;
        height: 90px;
    }
}

li.media {
    margin-block: 20px;
}

aside#sidebar {
    float: none;
    width: 100%;
    font-size: 15px;
    line-height:normal;
    border-top: solid 2px;
    border-left: solid 2px;
    border-top-left-radius: 25px;
    padding-top: 20px;
    border-color: #00ced1;
}

form#my-form {
    border-radius: 15px;
    box-shadow: 8px 8px #2dcbc733;
    background: #51b6cb54;

    label {
        font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
    aside#sidebar {
        padding-left: 20px;
    }

    header a.button {
        width: auto;
        height: auto;
    }
}