---
---

@import "{{ site.theme }}";

body {
    background: #fff;
}

#main-content {
    width: 100%;
    float: none;

    h5 {font-size: 16px; display: inline-block; font-family: Arial, sans-serif;}
    h4 {font-size: 17px; display: inline-block; font-family: Arial, sans-serif;}
    h3 {font-size: 18px; display: inline-block; font-family: Arial, sans-serif;}
    h2 {font-size: 24px; font-family: Arial, sans-serif;}
    h1 {font-family: Arial, sans-serif;}
    p {font-size: 16px; font-family: Arial, sans-serif;}

    table {
        border: 3px solid #ebebeb;

        td, th {
            border: 2px solid #ebebeb;
        }
    }

}



header {
    h1 {font-size: 44px;}

    a.button {
        width: 280px;
        height: 90px;

        &:hover {
            text-decoration: none;
            color: #f2ec0e;
        }
    }
}

li.media {
    margin-block: 20px;
}

aside#sidebar {
    float: none;
    width: 100%;
    font-size: 15px;
    line-height:normal;
    border-top: solid 2px;
    border-left: solid 2px;
    border-top-left-radius: 25px;
    padding-top: 20px;
    border-color: #00ced1;
    height: 100%;
    background: #fff;
}

form#my-form {
    border-radius: 15px;
    box-shadow: 8px 8px #f4efe8;
    background: #FFFDFA;

    label {
        font-size: 20px;
    }
}

#content-wrapper {
    a {
        color: #5999df;

        &:hover {
            color: #f87d42;
            text-decoration: none;
        }
    }

    .continue-read{
        text-decoration: underline;
        color: #2c2525;
        font-size: 14px;

        &:hover {
            color: #f87d42;
            text-decoration: none;
        }
    }
}

.notfound {
    img {
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .paragraph {
        font-size: 16px;
    }

    button {
        background-color: #2F73C1;
        color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 5px center;

        i {
            width: 10px;
            height: 10px;
        }
    }
}

@media only screen and (max-width: 767px) {
    aside#sidebar {
        padding-left: 20px;
    }

    header a.button {
        width: auto;
        height: auto;
    }
}